@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinker {
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  -ms-animation-name: blinker;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;

  -o-animation-name: blinker;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
}
